@import "tailwindcss";

@theme {
  --font-carattere: "Brother", "cursive";
  --font-liberty: "Libertinus Math", "serif";
  --color-dark-pink: #e7c8ef;        /* Dusty blush pink (main brand color) */
  --color-light-pink: #efe1fa;       /* Soft warm pinkish cream */
  --color-pale-pink: #fefaff;        /* Pale rose white */
  --color-accent-pink: #b170e7;      /* Muted rose mauve */
  --drop-shadow-pink-glow: 0 0 10px rgb(239 202 200 / 0.8); /* Glow using base pink */
  --color-text: #8216ca;
}

/* Custom shadow for inset dark overlay */
.shadow-inner-dark {
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}